@using NGM.Forum.Models
@using NGM.Forum.Extensions
@{
    Script.Require("jQuery");
    Script.Include(@"jquery.infinitescroll\jquery.infinitescroll.js", @"jquery.infinitescroll\jquery.infinitescroll.min.js"); // Maybe should go into the pager?
    
    IEnumerable<object> threads = Model.ContentItems;
    ForumPart contentPart = Model.ContentPart;
    Model.ContentItems.Classes.Add("content-items");
    Model.ContentItems.Classes.Add("forum-threads");
}
@Display(Model.ContentItems)
@if (threads == null || threads.Count() < 1) {
    <p class="nocontentitems">@T("There are no threads for this forum. Be the first to <a href=\"{0}\">create one</a>?", Url.ThreadCreate(contentPart))</p>
} else { 
    @Display(Model.Pager)

    using (Script.Foot()) {
        <script type="text/javascript">
            $(document).ready(function () {
                $(".pager-footer").hide();
                $(".content-items").infinitescroll({
                    loading: {
                        finished: undefined,
                        finishedMsg: "<em>There is no more content to load.</em>",
                        msgText: "<em>Loading content...</em>",
                    },
                    nextSelector: "ul.pager a",
                    navSelector: "ul.pager",
                    itemSelector: ".content-items li"
                });
            });
        </script>
    }
}