@using NGM.Forum
@using NGM.Forum.Models
@using Orchard.ContentManagement
@using Orchard.Utility.Extensions
@{
    Script.Require("jQuery");
    Script.Include(@"jquery.infinitescroll\jquery.infinitescroll.js", @"jquery.infinitescroll\jquery.infinitescroll.min.js"); // Maybe should go into the pager?

    IEnumerable<object> posts = Model.ContentItems;
    ThreadPart contentPart = Model.ContentPart;
    Model.ContentItems.Classes.Add("content-items");
    var contentTypeClassName = ((string)contentPart.ContentItem.ContentType + "-posts").HtmlClassify();
    Model.ContentItems.Classes.Add(contentTypeClassName);

    bool noReplies = posts.Count() == 1 && (((ContentItem) ((dynamic) posts.First()).ContentItem).As<PostPart>().IsParentThread());
}
@Display(Model.ContentItems)
@if (noReplies) {
    <p class="nocontentitems">@T("There are no replies to this post.")</p>
} else { 
    @Display(Model.Pager)

    using (Script.Foot()) {
        <script type="text/javascript">
            $(document).ready(function () {
                $(".pager-footer").hide();
                $(".content-items").infinitescroll({
                    loading: {
                        finished: undefined,
                        finishedMsg: "<em>There is no more content to load.</em>",
                        msgText: "<em>Loading content...</em>",
                    },
                    nextSelector: "ul.pager a",
                    navSelector: "ul.pager",
                    itemSelector: ".content-items li"
                });
            });
        </script>
    }
}